<div id="homepage">
    {{#each trips as |trip| }}
    <div class="row mb-4 trip">
        <div class="col-md-5">
            <h2>
                <a href="/trip/{{trip.id}}">{{trip.name}}</a>
            </h2>

            <p>Trip created by {{trip.user.name}} on {{format_date trip.date_created}}</p>
        </div>
        <div class="col-md-7">
            <p>
                {{trip.description}}
            </p>
        </div>
    </div>
    {{/each}}
</div>